<div class="customer__show">
  <h4>ようこそ<%=@customer.name%>様</h4>

  <ul>
    <%= link_to customer_messages_path(@customer) do%>
      <li>chat</li>
    <%end%>
    <%= link_to destroy_customer_session_path,method:'delete' do%>
      <li>log-out</li>
    <%end%>
</div>


