
.about{
  width:100vw;
  height:100vh;
<<<<<<< Updated upstream
  background-image:url("/texture-2068283_960_720.jpg");
=======
  background-image:url("/プロフィール1.png");
>>>>>>> Stashed changes
  background-size:cover;
  img{
    width:100vw;
    height:100vh;
  }
}

