.new_product{
  font-size:30px;
}

.form{
  display:flex;
  flex-direction:column;
  padding:30px;
  font-size:30px;
}

.input{
  border:5px solid grey;
  font-size:30px;
}

.buttom{
  width:100px;
  height:50px;
  background:aqua;
  margin:20px auto;
  font-size:30px;
}
.field{
  font-size:20px;
  text-align:center;
}

.form-image{
  width:200px;
  height:100px;
  
  clear:both;
}