.add_color{
    animation-name:add_color;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay:1.3s;
}
@keyframes add_color{
    0%{
     width:0;
    }
    100%{
    width:100%;
    }
  }    


.brightly{
  animation-name:brightly;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay:1s;
}
@keyframes brightly {
  0%{
    filter:brightness(80%);
  }
  10%{
    filter:brightness(110%);
  }
  50%{
    filter:brightness(95%);
  }
  100%{
    filter:brightness(100%);
  }
}

  .reflection{
    display:none;
    z-index:20;
    position:abusolute;
    height      :100%;
      width       :30px;
      position    :absolute;
      top         :-180px;
      left        :0;
      background-color: #fff;
      opacity     :0;
      transform: rotate(30deg);
      animation: reflection 2s ease-in-out ;
      // animation-delay:0.55s;
  }
  
  @keyframes reflection {
    0% { transform: scale(0) rotate(45deg); opacity: 0; }
    80% { transform: scale(0) rotate(45deg); opacity: 0.3; }
    81% { transform: scale(4) rotate(45deg); opacity: 0.4; }
    100% { transform: scale(50) rotate(45deg); opacity: 0; }
  }


.products{
  overflow:hidden;
  margin:0 auto;
}

.top{
  position:relative;
  width:100vw;
  display:flex;
  justify-content:space-between;
  // padding-top:100px;
  background: linear-gradient(to bottom,rgba(lightblue,1),30%, rgba(white ,0.5));
  &__message{
    color:grey;
    z-index:3;
    font-size:2em;
    position:absolute;
    span{
      font-size:150%;
    }
    &:nth-child(1){
      top:30%;left:5%;
    }
    &:nth-child(2){
      top:50%;left:20%;
    }
    &:nth-child(3){
      top:70%;left:10%;
    }
    &:nth-child(4){
      top:30%;left:50%;
    }
  


  }
  &__left{
    background:white;
    width:20vw;
    padding-right:10vw;
    transform:skew(-20deg);
    transform-origin:top left;
    // background: linear-gradient(to top,rgba(lightblue,0.45),10%, rgba(white ,1));
    &-message{
      margin-top:100px;
      margin-left:200px;
      transform:skew(20deg);
      font-size:30px;
      line-height:60px;

      background:rgba(white,1);

      color:black;
      // margin-right:-200px;
    }
  }
  &__card{
    padding-left:10px;
    background:#fff;;
    width:70vw;
    position:relative;
    display:flex;
    margin-top:80px;
    // box-shadow:10px 10px 10px grey;
    &-letter{
      letter-spacing:0.5em;
      z-index:1;
      position:absolute;
      top:50px;
      left:-10vw;
      font-size:2em;
      span{
        font-size:1.5em;
        padding:0 0.3em;
      }
      
    }

  
    &-message{
      background:white;
      width:150px;
      // background: linear-gradient(to bottom,rgba(lightblue,0.01),5%, rgba(white ,0.5));
      // transform:skew(-15deg);
      // transform-origin:top left;
      .card_message{
        line-height:60px;
        font-size:30px;
        padding-left:30px;
        padding-bottom:40px;
        padding-top:40px;

        margin-left:-100px;
        margin-top:200px;
        width:200px;
        border-left:3px double aqua;
        // border-bottom:3px solid aqua;

        // border-bottom:20px solid #eee;

        // text-align:right;
        background:rgba(lightblue,0.1);
        // color:grey;
      }
    }
    // #####
    &-image{
      width:100%;
      height:700px;
      position:relative;
    }
    .hand_writing{
      position:absolute;

      // margin-right:100px;
      width:100%;
      height:100%;
      object-fit:cover;
      
    }
  }
}

h3{
  clear:both;
  // background:aqua;
  line-height:50px;
  font-size:30px;
  height:100px;
}

.hand_writing{
  // filter:grayscale(100%);
  width: 100%;
  height:100%;
  object-fit: cover;
  position:absolute;
}

