.add_color{
    animation-name:add_color;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay:1.3s;
}
@keyframes add_color{
    0%{
     width:0;
    }
    100%{
    width:100%;
    }
  }    

.brightly{
  animation-name:brightly;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
@keyframes brightly {
  0%{
    filter:brightness(100%);
  }
  10%{
    filter:brightness(100%);
  }
  50%{
    filter:brightness(100%);
  }
  100%{
    filter:brightness(100%);
  }
}

  .reflection{
    display:none;
    z-index:20;
    position:abusolute;
    height      :100%;
      width       :30px;
      position    :absolute;
      top         :-180px;
      left        :0;
      background-color: #fff;
      opacity     :0;
      transform: rotate(30deg);
      animation: reflection 2s ease-in-out ;
      // animation-delay:0.55s;
  }
  
  @keyframes reflection {
    0% { transform: scale(0) rotate(45deg); opacity: 0; }
    80% { transform: scale(0) rotate(45deg); opacity: 0.3; }
    81% { transform: scale(4) rotate(45deg); opacity: 0.4; }
    100% { transform: scale(50) rotate(45deg); opacity: 0; }
  }


.products{
  overflow:hidden;
  margin:0 auto;
}

.top{
  filter:grayscale(100%);
  opacity:0.1;
  position:relative;
  width:100vw;
  display:flex;
  justify-content:space-between;
  // padding-top:100px;
  // background: linear-gradient(to bottom,rgba(lightblue,1),30%, rgba(white ,0.5));
  &__message{
    color:grey;
    z-index:3;
    font-size:2em;
    position:absolute;
    display:none;
    opacity:0;
    animation: float_in 2s forwards;
    &:nth-child(1){
      top:30%;left:5%;
      animation-delay: 1s;
    }
    &:nth-child(2){
      top:50%;left:20%;
      animation-delay: 1.5s;
    }
    &:nth-child(3){
      top:70%;left:10%;
      animation-delay: 2s;
    }
    &:nth-child(4){
      top:30%;left:50%;
      animation-delay: 2.5s;
    }
    span{
      font-size:150%;
    }
    @keyframes float_in {
      0%{opacity:0;margin-top:5%;}
      100%{opacity:1;margin-top:0;}
    }


  }
  &__left{
    position:relative;
    background:white;
    width:30vw;
  &-message{
    z-index:10;
      // border-left:solid 2px aqua;
      position:absolute;
      width:1300px;
      height:400px;
      margin-top:100px;
      padding-top:210px;
      margin-left:100px;
      padding-left:10px;
      font-size:2em;
      line-height:2em;
      color:grey;
      background: linear-gradient(to right bottom,rgba(lightblue,0.2),10%, rgba(white ,0.1));
      p{
        margin-top:20px;
        word-wrap :break-word;
        white-space:pre-line;
        width:250px;
        padding-left:20px;

        font-size:0.5em;
        line-height:1.5em;

      }
}
  }
  &__card{
    padding-left:10px;
    background:#fff;;
    width:70vw;
    position:relative;
    display:flex;
    margin-top:80px;
    // box-shadow:10px 10px 10px grey;
    &-letter{
      // background: linear-gradient(to right,rgba(lightblue,0.2),30%, rgba(white ,0.1));

      letter-spacing:0.5em;
      z-index:1;
      position:absolute;
      top:50px;
      left:-10vw;
      font-size:2em;
      span{
        font-size:1.5em;
        padding:0 0.3em;
      }
      
    }

  
    &-message{
      background:white;
      width:150px;
      // background: linear-gradient(to bottom,rgba(lightblue,0.01),5%, rgba(white ,0.5));
      // transform:skew(-15deg);
      // transform-origin:top left;
      .card_message{
        line-height:60px;
        font-size:30px;
        padding-left:30px;
        padding-bottom:40px;
        padding-top:40px;

        margin-left:-100px;
        margin-top:200px;
        width:200px;
        border-left:3px double aqua;
        // border-bottom:3px solid aqua;

        // border-bottom:20px solid #eee;

        // text-align:right;
        background:rgba(lightblue,0.1);
        // color:grey;
      }
    }
    // #####
    &-image{
      width:100%;
      height:700px;
      position:relative;
    }
    .hand_writing{
      position:absolute;

      // margin-right:100px;
      width:100%;
      height:100%;
      object-fit:cover;
      
    }
  }
}

h3{
  clear:both;
  // background:aqua;
  line-height:50px;
  font-size:30px;
  height:100px;
}

.hand_writing{
  // filter:grayscale(100%);
  width: 100%;
  height:100%;
  object-fit: cover;
  position:absolute;
}

