$message_width:750px;

.message__wrapper{
  background:url(/winter.jpg);
  background-size:cover;
  position:fixed;
  z-index:-2;
  width:100vw;
  height:100vh;

}
.messages{
  color:white;
  background:rgba(black,0.7);
  position:relative;
  margin:0 auto;
  width:$message_width;
  &-image{
    content:"";
    position:absolute;
    position:fixed;
    z-index:-1;
    width:$message_width;
    height:100vh;
    background:url(/photo-message.jpg);
    background-size:cover;
    background-position:center ;
  }
  &-nav{
    display:flex;
    justify-content: flex-start;
    height:100px;
    width:100%;
    font-size:2em;
    &:after{
      position:absolute;
      top:70px;right:1%;
      content:"Welcome to Contact Room";
      font-size:1.2em;
      mix-blend-mode: hard-light;
      font-family: 'Kalam', cursive;
      font-style:oblique;
    }
    li{
      margin:30px;
    }
    a{
      color:white;
      text-decoration:none;
    }
  }
  &-main{
    width:100%;
    margin:0 auto;
    padding: 0%;
    color:white;
    overflow:scroll;
    height:calc(100vh - 230px);
    &__chat{
      margin:0 5% ;
    }
  }
  &-form{
    position:fixed;
    display:flex;
    background:rgba(black,0.9);
    bottom:0;
    width:$message_width;
    padding:40px 2%;
    &:before{
      content:"Plese write your message";
      position:absolute;
      top:-10%;left:0;
      font-size:2.5em;
      font-family: 'Kalam', cursive;
      font-style:oblique;
      text-shadow:2px 2px 2px black;

    }
    &-text{
      word-wrap :break-word;
      white-space:pre-line;
      margin-right:5%;
      width:100%;
      height:50px;
      line-height:30px;
      max-height: 200px;
      overflow: hidden;      
    }
  }

}

.message{

    &-text{
    word-wrap :break-word;
    white-space:pre-line;
    position:relative;
    text-align:left;
    display:inline-block;
    background:white;
    padding:1em;
    margin-top:3em;
    min-width:30%;
    max-width:60%;
    border-radius: 1em;
    color:black;

  }
  &-date{
    margin:0.5em;

  }
  &-image{
    object-fit:cover;
    width:200px;
    height:200px;
    margin:0.5em;

  }
}
.admin{
  text-align:right;
}
#messages-form-btn{
  width:100px;
  height:50px;
  border-radius:0;
  box-shadow:1px 2px white;
  &:active{
    position:relative;
    top:2px;left:1px;
    box-shadow:none;

  }
}

.scale{
  transform:scale(2.5);
  transform-origin:right bottom;
}