h2{
  margin-bottom:0;
}

.cards{
  // position:relative;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  padding:20px;
  padding-top:0;
}
.card{
  // position:absolute;
  margin:10px;
  width:280px;
  height:200px;
  box-shadow:5px 5px 10px rgba( black,0.5);
  padding:10px;
  &-image{
    height:100%;
    width:100%;
    object-fit:cover;
  }
}

.flex{
  display:flex;
  flex-wrap:wrap;

}