  .works{
    z-index:1;
    width:100vw;
    display:flex;
    position:relative;
    padding-bottom:50px;
    &:before{
      content:"";
      position:absolute;
      z-index:-1;
      top:35%;
      width:100%;
      height:70%;
      width: 100%;
  height: 45%;
  background-image:url(/texture-j.jpg);
	// background-color: #616161;
	// background-image: repeating-linear-gradient(45deg,
	// #424242, #424242 3px,
	// transparent 0, transparent 6px);
    }
    &__left{
      z-index:-1;
      display:flex;
      flex-direction:column;
      width:900px;
      &-bar{
        clear:both;
        display:flex;
        margin-top:40px;
        width:100%;
        li{
          position:relative;
          background:white;
          &:hover{
            opacity:1;
            background:aqua;
            font-size:1.5em;
          }


          .masking{
            position:absolute;
            padding-top:20%;
            font-size:1em;
            color:black;
            text-align: center;
            opacity:0;
            width:100%;
            height:100%;
            background:rgba(white,0.5);
            }
      
        }
        img{
          // padding:10px 10px 10px 0;
          border:double 4px white;
          height:140px;
          width:100%;


        }
        
      }


    }
    &__slide{
      position:relative;
      width:100%;
      height:500px;
      overflow:hidden;
      box-sizing:content-box;
      border:white solid 3px;
      border-left:none;
      .title{
        display:none;
        z-index:3;
        position:absolute;
        bottom: 10%;right:0;
        // filter:overlay;
        mix-blend-mode:screen;
        color:rgba(white, 1);
        font-size:2.5em;
        margin-right:5%;
      }
    
      &-message{
        position:absolute;
        top:70%;
        z-index:10;
        height:20%;
        width:100%;
      background: linear-gradient(to top,rgba(white,0.2), rgba(white,0.1));
      &:after{
        content:"";
        position:absolute;
        top:30%;
        height:10%;
        height:100%;
        width:100%;
        z-index:10;
        background: linear-gradient(to bottom,rgba(white,0.2), rgba(white,0.1));
      }

      
    }
      &-image{
        border-left:none;
        position:absolute;
        width:100%;
        height:100%;
        object-fit:cover;
      }
    }
    &__box{
        
        // background:rgba(#000,1);
        width:250px;
        height:650px;
        margin:100px 50px 0 50px;
        position:relative;
        &:before{
          content:"";
          background:white;
          position:absolute;
          width:150%;
          height:20%;
        }
        &-dummy{
          z-index:0;
          position:absolute;
          width:100%;
          height:100%;
          background:#111;
        }
          
        h2{
          font-size:100px;
          padding-left:30px;
          padding-top:30px;
          z-index:2;
          color:white;
          background:transparent;
          mix-blend-mode:exclusion;
          text-decoration:underline;
    
        }
        p{
          color:white;
          font-size:16px;
          line-height:30px;
          letter-spacing: 0.5em;
          margin:100px 20px 0 30px;
          mix-blend-mode:exclusion;

        }
    }
  }

.active{
    animation-name:active;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
@keyframes active{
    0%{
      left:-100%;
      opacity:0.5;
    }
    50%{
      left:-90%;
    }

    
    100%{
      left:0;
      opacity:1;
    }
  }

  .appear{
    line-height:100px;
    font-size:40px;
    width:400px;
    color:white;
    mix-blend-mode: exclusion;
    animation-name:appear;
    animation-duration:0.5s;

    animation-fill-mode: forwards;
  }
  @keyframes appear{
    0%{
   
      transform: translateX(60%);
      transform-origin: 50% 50%;  
    }

    100%{
      transform: translateX(0);
      transform-origin: 50% 50%;  

    }
  }
