

@media screen and (max-width:1000px) {
  /*スマホ用のcssを記述*/
    .works__slide{
      width:90px;
    }
    .works__box{
      display:none;
    }
  }

  @media screen and (max-width:750px) {
    .messages{
      width:100vw;

    }
  }
