

@media screen and (max-width:960px) {

    .works__slide{
      width:90px;
    }
    .works__box{
      display:none;
    }
  }


  @media screen and (max-width:560px) {
      body{
        font-size:8px;
      }
      
  }
