$(function(){
$('.works__slide').html('<%= j(render partial: 'show') %>')

clearInterval(product_slide)
var works_height=$(".works__slide").offset().top - $('.nav').height()
$('html, body').animate({scrollTop:works_height});

$('.works-text').text('<%= @product.text %>')

$('.show').css("display","none")
$('.show').fadeIn(1000)
$('.works__box-name').html('<h1 class="appear"><%= @product.name %></h1>')

var works_height = $('.works').offset().top - $('.nav').height()
$('html ,body').animate({scrollTop:works_height})
$('.show__image').css("display","none")
$('.show__image').eq(0).fadeIn()
$(`.show__bar-image[data-index = ${j}]`).css("background","aqua")

})
