<div class="nav">
  <div class="nav__name">
    <h1>オクノジュン建築設計事務所</h1>
    <p>JUN OKUNO Architects</p>
  </div>
  <ul class="header">
    <%if customer_signed_in?%>
      <%= link_to customer_messages_path(current_customer) do%>
        <li class="header__list contact">contact</li>
      <%end%>
    <% else %>
      <%= link_to customer_session_path do%>
        <li class="header__list contact">contact</li>
      <%end%>
    <% end %>
    <li class="header__list">about</li>
    <li class="header__list">flow</li>
  </ul>    
</div>



