<nav>
  <ul class="header">
    <li class='header__list name'>JUN OKUNO Architects</li>
    <li class="header__list about">about</li>
    <li class="header__list flow">flow</li>
    <li class='header__list contact'>
      contact
      <ul class='pop'>
        <% if user_signed_in?%>
          <li><%=link_to 'sign-up',new_user_registration_path %></li>
          <li><%=link_to 'log-out',destroy_user_session_path,method:'delete' %></li>
        <%else%>
          <li><%=link_to 'log-in',user_session_path %></li>
        <%end%>
      </ul>
    </li>
</nav>



