<nav class="header">
  <ul>
    <li class='name'>JUN OKUNO Architects</li>
    <li>about</li>
    <li>flow</li>
    <li class='contact'>
      contact
      <ul class='pop'>
        <% if user_signed_in?%>
          <li><%=link_to 'sign-up',new_user_registration_path %></li>
          <li><%=link_to 'log-out',destroy_user_session_path,method:'delete' %></li>
        <%else%>
          <li><%=link_to 'log-in',user_session_path %></li>
        <%end%>
      </ul>
    </li>
</nav>



