<nav class="header">
  <ul>
    <li>JUN OKUNO Architects</li>
    <%=link_to "new" ,new_product_path %>
    <%=link_to "about" ,"" %>
    <%=link_to "flow"  ,"" %>
    <%=link_to "contact" ,""%>
  </ul>
</nav>